
<form *ngIf="pasoUno" #accionRapidaFormPasoUno="ngForm" class="editForm" novalidate>
      <div class="modal-header justify-content-center mt-2">
        <a href="index.html">
          <h1>PASO 1</h1>
          <span>Subir archivo csv</span>
        </a>
      </div>
      <div class="modal-body px-4 texto-centrado">
       
        <form id="formInputRapido" class="mt-3">
          <label for="fileInput"> 
            <img id="icon" src="https://image.freepik.com/free-icon/upload-arrow_318-26670.jpg">
          </label>
            <input  
            #fileUploadSimple
            [accept]="'.csv'"
            type="file"
            class="file-input"
            (change)="importDataFromCSV($event)"
             class="form-control" type="file" id="fileInput">
             
        </form>
        <div class="p-3">
          <p class="card-title mb-0 justify-content-center">Presione sobre el boton para subir el csv</p>
        </div>
        <div>Datos cargados</div>
        <form class="w-100 mb-4">
          <input type='text' class="form-control" placeholder='Filtro por caravana.' (keyup)='updateFilter($event)' />
        </form>
  
        <ngx-datatable #table_suba_rapido class='material' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'auto'" [limit]="20" [rows]='rows'>
        </ngx-datatable>
  
      
      </div>
      <div class="modal-footer justify-content-center">
        <button *ngIf="!existeCaravana &&  noPasoAun"
          class="btn btn-primary"
          type="submit"
          (click)="submitPasoUno(accionRapidaFormPasoUno,1)">
          Dar de alta
        </button>
        <button *ngIf="existeCaravana  &&  noPasoAun"
          class="btn btn-primary"
          type="submit"
          (click)="modal.dismiss('Cross click')"
        >
          Registro sanitario
        </button>   
        <button *ngIf="existeCaravana  &&  noPasoAun"
          class="btn btn-primary"
          type="submit"
          (click)="modal.dismiss('Cross click')">
          Trasladar
        </button>    
        <button *ngIf="existeCaravana  &&  noPasoAun"
          class="btn btn-primary"
          type="submit"
          (click)="modal.dismiss('Cross click')">
          Dar de baja
        </button>               
      </div>
    </form>



    <form *ngIf="pasoDos"  class="editForm" [formGroup]="segundoPasoForm" novalidate>
      <div class="modal-header justify-content-center mt-2">
        <a href="">
          <h1 class="texto-centrado">PASO 2</h1>
          <span>Cargar informacion general</span>
        </a>
      </div>
      <div class="card">
        <div class="card-body">
            <div class="mt-4">

            <div class="form-group mb-3">
                <label for="fecha">Fecha</label>

                <input type="date" name="fecha" id="fecha" 
                class="form-control" [value]="" formControlName="fecha">
                
   
                <small class="form-text text-danger"
                *ngIf="segundoPasoForm.controls['fecha'].invalid && (segundoPasoForm.controls['fecha'].dirty || segundoPasoForm.controls['fecha'].touched)">Por favor ingrese una fecha valida!
              </small>             
            </div>
           <div class="form-group  mb-3">
                <label for="id_motivo_mov_stk">Motivo</label>
                <select id="id_motivo_mov_stk" name="id_motivo_mov_stk" class="form-select mr-sm-2"  formControlName="id_motivo_mov_stk">
                  <option value="-1" selected>Seleccione...</option>
                  <option  *ngFor="let motivo of filtrarMotivo(motivosMovimiento)" 
                  [value]="motivo.id" >
                {{motivo.descripcion}}
              </option>
 
                  
                </select>
                <small class="form-text text-danger"
                *ngIf="segundoPasoForm.controls['id_motivo_mov_stk'].invalid && (segundoPasoForm.controls['id_motivo_mov_stk'].dirty || segundoPasoForm.controls['id_motivo_mov_stk'].touched)">Por favor ingrese el tipo de ganado
              </small>                  
            </div>

            <div class="form-group  mb-3 contendor-guia">
              <label for="exampleInputEmail1">Guia </label><br>
              <input type="text" name="serie_guia" class="form-control control-chico" value=""  formControlName="serie_guia">
              <input type="text" name="nro_guia" class="form-control control-gde" value="" formControlName="nro_guia">
              <small class="form-text text-danger"
              *ngIf="segundoPasoForm.controls['serie_guia'].invalid && (segundoPasoForm.controls['serie_guia'].dirty || segundoPasoForm.controls['serie_guia'].touched)">Por favor ingrese la serie de la guia
            </small>  
            <small class="form-text text-danger"
            *ngIf="segundoPasoForm.controls['nro_guia'].invalid && (segundoPasoForm.controls['nro_guia'].dirty || segundoPasoForm.controls['nro_guia'].touched)">Por favor ingrese el nro de la guia
          </small>              

            </div>

            <div class="form-group  mb-3">
              <label for="exampleInputEmail1">Dicose</label>
              <input type="text" name="dicose" class="form-control " value="" formControlName="dicose">
            </div> 
            <small class="form-text text-danger"
            *ngIf="segundoPasoForm.controls['dicose'].invalid && (segundoPasoForm.controls['dicose'].dirty || segundoPasoForm.controls['dicose'].touched)">Por favor ingrese el Dicose
          </small>   

            </div>
      <div class="modal-footer justify-content-center">

        <button type="submit" (click)="submitPasoDos(segundoPasoForm)"
        [disabled]="segundoPasoForm.pristine || segundoPasoForm.invalid" class="btn btn-primary">
        Continuar
        </button>


                  
      </div>

    </div>
  </div>   

    </form>

  
    <form *ngIf="pasoTres" [formGroup]="tercerPasoForm" novalidate class="editForm">
      <div class="modal-header justify-content-center mt-2">
        <a href="">
          <h1 class="texto-centrado">PASO 3</h1>
          <span>Informacion del ganado cargado</span>
        </a>
      </div>
      <div class="card">
        <div class="card-body">
            <div class="mt-4">





          <div class="form-group  mb-3">
              <label for="exampleInputPassword1">Propiedad de ganado</label>
              <select name="id_propiedad_ganado" class="form-select mr-sm-2"  formControlName="id_propiedad_ganado">
                <option value="-1" [ngValue]="-1">Seleccione...</option>
                <option  *ngFor="let estado of estadoGanado" 
                [value]="estado.id" [ngValue]="estado.id" [selected]="estado.id===1" >
              {{estado.descripcion}}
                </option>

                
              </select>
              <small class="form-text text-danger"
                 *ngIf="tercerPasoForm.controls['id_propiedad_ganado'].invalid && (tercerPasoForm.controls['id_propiedad_ganado'].dirty || tercerPasoForm.controls['id_propiedad_ganado'].touched)">Por favor ingrese la propiedad del ganado
              </small>                  
          </div>            



          <div class="form-group  mb-3">
            <label for="exampleInputPassword1">Tipo de ganado</label>
           
           
 
            <select name="id_tipo_ganado" class="form-select mr-sm-2" 
            formControlName="id_tipo_ganado">
              <option value="-1">Seleccione...</option>
              <option  *ngFor="let tipo of tipoGanado" 
              [value]="tipo.id" [selected]="tipo.id ==1" >
            {{tipo.descripcion}}
              </option>

              </select>




            <small class="form-text text-danger"
               *ngIf="tercerPasoForm.controls['id_tipo_ganado'].invalid && (tercerPasoForm.controls['id_tipo_ganado'].dirty || tercerPasoForm.controls['id_tipo_ganado'].touched)">Por favor ingrese el tipo de ganado
            </small>                  
          </div> 


          <div class="form-group  mb-3">
            <label for="exampleInputPassword1">Razas de ganado</label>
            <select name="id_raza_ganado" class="form-select mr-sm-2"  formControlName="id_raza_ganado">
              <option value="-1" selected>Seleccione...</option>
              <option  *ngFor="let raza of razaGanado" 
              [value]="raza.id" >
            {{raza.descripcion}}
              </option>

              
            </select>
            <small class="form-text text-danger"
               *ngIf="tercerPasoForm.controls['id_raza_ganado'].invalid && (tercerPasoForm.controls['id_raza_ganado'].dirty || tercerPasoForm.controls['id_raza_ganado'].touched)">Por favor ingrese la raza de ganado
            </small>                  
          </div> 




          <div class="form-group  mb-3">
            <label for="exampleInputPassword1">Categoria de ganado</label>
            <select name="id_categoria_ganado" class="form-select mr-sm-2"  formControlName="id_categoria_ganado">
              <option value="-1" selected>Seleccione...</option>
              <option  *ngFor="let categoria of categoriaGanado" 
              [value]="categoria.id" >
            {{categoria.descripcion}}
              </option>

              
            </select>
            <small class="form-text text-danger"
               *ngIf="tercerPasoForm.controls['id_categoria_ganado'].invalid && (tercerPasoForm.controls['id_categoria_ganado'].dirty || tercerPasoForm.controls['id_categoria_ganado'].touched)">Por favor ingrese el tipo de ganado
            </small>                  
          </div> 


          <div class="form-group  mb-3">
            <label for="exampleInputPassword1">Tipo de peso</label>
            <select name="id_tipo_peso" class="form-select mr-sm-2"  formControlName="id_tipo_peso">
              <option value="-1" >Seleccione...</option>
              <option  *ngFor="let peso of tipoPeso" 
              [value]="peso.id" [selected]="peso.id ==1">
            {{peso.descripcion}}
              </option>

              
            </select>
            <small class="form-text text-danger"
               *ngIf="tercerPasoForm.controls['id_tipo_peso'].invalid && (tercerPasoForm.controls['id_tipo_peso'].dirty || tercerPasoForm.controls['id_tipo_peso'].touched)">Por favor ingrese el tipo de peso
            </small>                  
          </div> 


          <div class="form-group  mb-3" >
            <label for="exampleInputEmail1">Peso total facturado (kg)</label>
            <input type="text" name="peso_total_facturado" class="form-control" value="" formControlName="peso_total_facturado">
          </div> 
          <small class="form-text text-danger"
          *ngIf="tercerPasoForm.controls['peso_total_facturado'].invalid && (tercerPasoForm.controls['peso_total_facturado'].dirty || tercerPasoForm.controls['peso_total_facturado'].touched)">Por favor ingrese el Peso total neto de la carga.
        </small>   

    




            </div>
      <div class="modal-footer justify-content-center">

        <button type="submit" (click)="submitPasoTres(tercerPasoForm)"
        [disabled]="tercerPasoForm.pristine || tercerPasoForm.invalid" class="btn btn-primary">
        Continuar
        </button>
                  
      </div>

    </div>
  </div>   

    </form>

    <form *ngIf="pasoCuatro" [formGroup]="cuartoPasoForm" novalidate class="editForm">
      <div class="modal-header justify-content-center mt-2">
        <a href="">
          <h1 class="texto-centrado">ULTIMO PASO</h1>
          <span>Resumen y confirmacion de la carga</span>
        </a>
      </div>
      <div class="card">
        <div class="card-body">
            <div class="mt-4 text-center">
              <i class="me-2 mdi mdi-thumb-up"></i>
                <h4 class="card-title mt-2">Resumen de carga</h4>
                <h6 class="card-subtitle">Este es el resumen de la entrada actual</h6>
                <div class="row text-center justify-content-md-center">
                    <div class="col-4">
                      <input name="campo" [value]="0" class="form-select mr-sm-2"  formControlName="campo" type="hidden" >
                        <a href="javascript:void(0)" class="link">
                          <i class="me-2 mdi mdi-scale"></i>
                            {{ this.pesoTotalFacturado }} kg
                        </a>
                    </div>
                    <div class="col-4">
                      <a href="javascript:void(0)" class="link">
                        <i class="me-2 mdi mdi-weight-kilogram"></i>
                          {{ this.pesoTotal }} kg
                      </a>
                    </div>
                    <div class="col-4">
                      <a href="javascript:void(0)" class="link">
                        <i class="me-2 mdi mdi-cow"></i>
                        {{ this.cantidad_total }} Un
                      </a>
                  </div>                    
                </div>
            </div>
        </div>
        <div>
            <hr> </div>
      
        <div class="modal-footer justify-content-center">

          <button type="submit" (click)="submitPasoCuatro(cuartoPasoForm)"
          [disabled]="cuartoPasoForm.pristine || cuartoPasoForm.invalid" class="btn btn-primary">
          Confirmar
          </button>   

        </div>


    </div>







    </form> 