#fileInput{
    display: none;
  }
  #icon{
    width: 100px;
    cursor: pointer;
  }
  #formInputRapido{
    text-align: center;
  }

  .texto-centrado{
    text-align: center !important;
  }

  .mdi-thumb-up{
    font-size: 4em !important;
  }

.mdi-weight-kilogram{
    font-size: 1.5em !important;
  }

  .mdi-cow{
    font-size: 1.5em !important;
  }
  .mdi-scale{
    font-size: 1.5em !important;
  }

.control-chico{
  width:15%;
  margin-right: 5px;
  float:left;
}

.control-gde{
  width:80%;
  float:left;
}

.contendor-guia{
  position: relative;
    float: left;
}