
<div class="col-md-12">
    <div class="card text-center">
      <div class="p-3">
        <h4 class="card-title mb-0">Accion masiva de ganado</h4>
      </div>
      <div class="card-body">
        <div class="text-center">
          <div class="me-3 align-self-center">
            <button (click)="modalOpenRegiser(modalRegiser)" type="button" class="btn btn-circle btn-warning btn-xl rounded-circle">
              <i class="fa fa-list"></i>
            </button>  
          </div>
       
        </div>

        <h5 _ngcontent-itu-c152="" class="p-3 card-subtitle justify-content-center">
          Presione sobre el boton anaranjado para empezar el proceso por lotes
        </h5>
      </div>

         
    </div>
</div>

<ng-template #modalRegiser let-modal>
 
<app-accion-masiva-form></app-accion-masiva-form>
</ng-template>





