<div class="row">
   
        <!-- You can find this in the dashboard-component -->
        <app-project-counter></app-project-counter>
       

</div>


<div class="row">
        <div class="col-lg-6 d-flex align-items-stretch">
                <!-- ==================================-->
                <!-- ========== Basic Alert ========== -->
                <!-- ==================================-->
                <div class="card w-100">
                        <app-clima></app-clima>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-stretch">
                <!-- ==================================-->
                <!-- ======== Closable Alert ========= -->
                <!-- ==================================-->
                <div class="card w-100">
                        <app-subo-ganado-rapido></app-subo-ganado-rapido>
                </div>
              </div>

<app-vista-rapida-ganado></app-vista-rapida-ganado>



</div>