

    <div class="col-md-12">
        <div class="card bg-info">
            <div class="card-body">
                <div class="text-center text-white">
                    <h4 class="card-title text-white">La Calera, Rivera</h4>
                    <h5 class="fw-light text-white">Lunes May 21, 2023</h5>
                    <div class="mt-4">
                        <span class="display-5 text-white">
                            <i class="wi wi-day-rain-mix"></i>
                        </span>
                        <div class="d-inline-block m-l-30">
                            <h2 class=" text-white"> 29° C</h2>
                            <h4 class="fw-light text-white">Day Rain</h4>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="row text-center">
                                <div class="col-6 col-md-2">
                                    <div class="mb-2">MAR</div>
                                    <i class="wi wi-day-cloudy fs-6 mb-2"></i>
                                    <div>24°
                                        <span>C</span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="mb-2">MIE</div>
                                    <i class="wi wi-day-cloudy fs-6 mb-2"></i>
                                    <div>21°
                                        <span>C</span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="mb-2">JUE</div>
                                    <i class="wi wi-day-sunny fs-6 mb-2"></i>
                                    <div>25°
                                        <span>C</span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="mb-2">VIE</div>
                                    <i class="wi wi-day-cloudy-gusts fs-6 mb-2"></i>
                                    <div>20°
                                        <span>C</span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="mb-2">SAB</div>
                                    <i class="wi wi-day-lightning fs-6 mb-2"></i>
                                    <div>18°
                                        <span>C</span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="mb-2">DOM</div>
                                    <i class="wi wi-day-storm-showers fs-6 mb-2"></i>
                                    <div>14°
                                        <span>C</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

